<div class="container login-form" style="width: 40%;">
    <h1 class="title">註冊</h1>
    <form action="register" method="POST">
        <div class="form-group mt-4">
            <label for="name">姓名</label>
            <input type="name" class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="email">帳號</label>
            <input type="email" class="form-control" name="email" id="account" placeholder="請輸入信箱">
        </div>
        <div class="form-group">
            <label for="password">密碼</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="請輸入密碼">
        </div>
        <div class="form-group">
            <label for="password2">確認密碼</label>
            <input type="password" class="form-control" name="password2" id="password2" placeholder="請再次輸入密碼">
        </div>
        {{>messages}}
        <center><button type="submit" class="btn btn-major mt-2 mb-4">送出</button></center>
    </form>

</div>